.header {
  border: 1px solid black;
}

.main {
  border: 1px solid black;
}

.footer {
  border: 1px solid black;
}
.footer-rsschool {
  width: 48px;
  height: 48px;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
